.payment-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.payment-form {
    width: 500px;
    height: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.CardField-input {
    border: 1px solid #ccc; /* Border for the CardElement input */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px; /* Adjust margin between inputs as needed */
}

.CardField-input::placeholder {
    color: #aab7c4; /* Placeholder color for the CardElement input */
}
